* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 251, 251);
  font-family: "Faculty Glyphic", sans-serif;
}

nav {
  width: 300px;
  position: fixed;
  overflow: hidden;
  height: 950px;
  background-color: rgb(241, 60, 60);
  padding: 150px 0px 0px 30px;
}

.nav-header h1 {
  margin-bottom: 50px;
  padding-left: 10px;
  color: rgb(252, 247, 247);
}

nav a {
  text-decoration: none;
  color: white;
  display: flex;
  font-size: 20px;
  padding: 15px;
}

nav a:hover {
  border-radius: 15%;
  color: rgb(40, 1, 58);
  background-color: rgb(197, 87, 83);
  box-shadow: 0px 0px 30px 5px rgb(86, 235, 190);
}
.container {
  margin-left: 350px;
  width: 100%;
  max-width: 1500px;
  overflow: hidden;
}

.image-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-top: 30px;
}
.image-container img {
  width: 800px;
  height: 700px;
}
header {
  margin-top: 70px;
  font-size: 35px;
}
.details-container {
  margin-top: 40px;
}
.details-container .details h1 {
  color: rgb(196, 10, 10);
  font-size: 40px;
}

.details-container .details p {
  font-size: 19px;
  padding: 20px 80px 25px 0px;
  line-height: 25px;
}

.second-details {
  margin-top: 40px;
}

.artists-hadline {
  font-size: 20px;
}

.artists-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
  margin-top: 20px;
}

.artists-alldetails {
  overflow: hidden;
  background-color: rgb(116, 65, 65);
  height: 440px;
  box-shadow: 0px 0px 25px 5px rgb(221, 148, 148);
}

.artists-section .artists-alldetails .artist-details {
  padding: 10px 15px 5px;
}
.artists-section .artists-alldetails img {
  width: 100%;
  height: 300px;
}

.artists-section .artists-alldetails .artist-details .skill {
  color: gray;
  padding-top: 17px;
  padding-bottom: 15px;
}

.artists-section .artists-alldetails .artist-details p {
  padding-right: 30px;
  font-size: 18px;
}

.Packages {
  margin-top: 60px;
  font-size: 50px;
  color: red;
}

.icon {
  width: 30px;
  margin-top: 20px;
  color: crimson;
}

.package-discription {
  font-size: 18px;
}

.lists {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  margin-top: 25px;
}

.lists .all-lists {
  border: 1px solid black;
  border-color: transparent;
  font-size: 20px;
  list-style: none;
  text-align: center;
  background-color: rgb(245, 240, 240);
}

.lists .all-lists li {
  border-top: 1px solid rgb(216, 211, 211);
  padding: 20px;
}

.lists .all-lists .headof-list {
  padding: 30px;
  background-color: rgb(103, 105, 107);
  font-size: 30px;
  color: white;
}

.lists .all-lists .second-list {
  background-color: red;
}
.lists .all-lists .amount {
  font-size: 30px;
}

.lists .all-lists .amount .room {
  font-size: 20px;
  color: rgb(177, 173, 173);
}

.lists .all-lists .last-list a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 10px 25px;
  background-color: white;
}

.lists .all-lists .last-list {
  padding: 28px;
}

.lists .all-lists .last-list a:hover {
  background-color: black;
  color: white;
}

.lists .all-lists .last-list .second-sign {
  background-color: red;
  color: white;
}

.contact {
  font-size: 55px;
  margin-top: 90px;
  color: red;
}

.footer-discription {
  font-size: 20px;
  margin-top: 16px;
}
